*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.bloc{
    display: flex;
    padding:  50px;
    gap: 20px;
    width: 1000px;
    height: 500px;
}
.bloc img{
    width: 250px;
    display: block;
    border-radius: .5rem;
    flex-grow: 1;
    transition: width 300ms ease;
    width: 33%;
    object-fit: cover;
}
.bloc img:hover{
    width: 100%;
}


/* exemple 2 */

.bloc2{
    display: flex;
    gap: 220px;
    padding: 50px;
    width: 300px;
}
.bloc2 .item{
    position:relative;  
    
    
    transition: width 300ms ease;
    width: 33%; 
}
.bloc2 img{
    border-radius: .5rem;
    height:300px;
    width: 200px;
    object-fit: cover;
    flex-grow: 1;
}
.bloc2 .item:hover{
    width: 100%;
}
.bloc2 .item .image{
    position:absolute;
    z-index:1;
}
.bloc2 .item .txt{
    position:absolute;
    top: 0; 
    z-index:2;
    padding: 10px;
    color: white;
    font-size: 20px; 
}



